@font-face { 
    font-family: carnevalee;
    src: url('../font/carnevalee-freakshow.ttf');
}
.navbar {
    background-color: #8A340A;
}
.navbar .navbar-brand{
    font-family: carnevalee;
    font-size: 35px;
}

#carrinho{
    padding-top: 80px;
}

#carrinho img{
    max-height: 100px;
}

footer{
    background-color: #8A340A;
    padding: 25px;
}
/*.carousel-indicators li{
    background: url(../img/logo-sm.png);
}*/